/* Estructura básica
----------------------------------------------- */

body {
background: #ffffff;
margin: 0;
padding: 0px;
}
img {
padding: 0px;
border: 0;
width: 100%;
height: auto;
display: block;
margin: 0 auto; 
}
p.title {
font-family: Verdana, sans-serif;
font-size: 2em;
color: #696969;
margin-top: 0;
padding-top: 10px;
margin-bottom: 15px;
padding-bottom: 10px;
line-height: 150%;
text-align: left;
}
p.subtitle {
font-family: Verdana, sans-serif;
font-size: 1.3em;
color: #696969;
margin-top: 0;
padding-top: 0;
margin-bottom: 30px;
line-height: 150%;
text-align: left;
}
p.subtitle1 {
font-family: Verdana, sans-serif;
font-weight: bold;
font-size: 1.3em;
color: #696969;
margin-top: 1.5em;
padding-top: 0;
margin-bottom: 30px;
line-height: 150%;
text-align: left;
} 
.titular {
font: Verdana, sans-serif;
font-size: 0.8em;
text-transform: uppercase;
letter-spacing: .2em;
color: #333333;
line-height: 180%;
text-align: left;
background-color: #ececec;
padding: 5px;
margin: 0 0 0.5em 0;
}
p.cita {
margin-left: 80px;
padding: 20px 0px;
}
a:link {
color: #a22;
text-decoration: none;
cursor: hand; 
outline: none;
outline: 0;
}
a:visited {
color: #a22;
text-decoration: none;
outline: none;
outline: 0;
}
a:hover {
color: #639;
text-decoration: none;
cursor: hand; 
}
a[name] {
color: #696969;
text-decoration: none;
}
.inactive {
color: #a6a6a6;
}

/* Listas
----------------------------------------------- */

ul {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-left: 10px;
list-style-type: square;
}
li {
padding: 5px 0px 5px 0px;
}

/* Barra blanca
----------------------------------------------- */

.barra {
width: 100%;
height: 30px;
margin: 0 auto;
}

/* Contenido
----------------------------------------------- */

main {
width: 75%;
margin: 0 auto;
padding: 0;
}
article {
width: 83%;
float: left;
margin: 0 auto;
padding: 0px 0px 20px 0px;
font-family: Arial, Helvetica, sans-serif;
color: #333333;
font-size: 1em;
text-align: justify;
line-height: 2.3em;
}
article img {
padding: 0px;
border: 0;
width: 100%;
height: auto;
display: block;
margin: 0 auto; 
}
article blockquote {
margin: 1em 20px;
}
aside {
width: 10%;
float: right;
text-align: right;
margin: 0 auto;
padding: 0;
}

/* Navegación
----------------------------------------------- */

.nav01 {
width: 75%;
margin: 0 auto;
font-family: Verdana, sans-serif;
font-size: 1.1em;
padding-top: 15px;
} 
.nav01 ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ffffff;
}
.nav01 li {
float: left;
display: block;
padding: 10px 30px 15px 0px;
}
.nav01 li a {
text-decoration: none;
color: #333333;
}
.nav01 li a:hover {
color: #a22a22;
  }
#alignright {
float: right;
padding: 10px 0px 15px 30px;
}

/* Color line
----------------------------------------------- */

.divcolor {
width: 100%;
height: 1px;
margin: 10px 0px 10px 0px;
background-color: #d9d9d9;
clear: both;
}
.divcolor01 {
width: 100%;
height: 1px;
margin: 10px 0px 10px 0px;
background-color: #d9d9d9;
clear: both;
}

/* Posts
----------------------------------------------- */

.barratit {
padding: 10px 0px 10px 15px;
background-color: #e6e6e6;
border-bottom: 1px solid #d9d9d9;
border-left: 15px solid #dfbf9f;
}
.barratit1 {
font: Arial, Helvetica, sans-serif;
font-size: 1em;
text-transform: uppercase;
letter-spacing: .2em;
color: #333333;
text-align: justify;
padding: 10px 0px 10px 15px;
background-color: #e6e6e6;
border-bottom: 1px solid #d9d9d9;
border-left: 15px solid #dfbf9f;
}

/* Aside
----------------------------------------------- */

aside ul {
margin: 0;
padding: 1.5em 0;
border-top: 1px dotted #ccc;
border-bottom: 1px dotted #ccc;
list-style: none;
}
aside li {
margin: 0;
padding: 0 0 .25em 15px;
text-indent: -15px;
line-height: 2em;
}
.titlelat {
font-family: Verdana, sans-serif;
font-size: 1.1em;
text-align: right;
list-style: none;
border-bottom: 1px dotted #ccc;
}
.titlelat01 {
font-family: Verdana, sans-serif;
font-size: 1.1em;
text-align: right;
list-style: none;
border-top: 1px dotted #ccc;
border-bottom: 1px dotted #ccc;
}
.titlelat a, .titlelat01 a {
text-decoration: none;
color: #333333;
}
.titlelat a:hover, .titlelat01 a:hover {
color: #a22a22;
}

/* Footer 01
----------------------------------------------- */

.footer01 {
width: 75%;
margin: 0 auto;
clear: both;
padding: 10px 50px;
font-family: Verdana, sans-serif;
font-size: 1em;
color: #333333;
line-height: 200%;
}
.footer01 a {
text-decoration: none;
color: #333333;
}
.footer01 a:hover {
color: #a22a22;
}
.footer01 p {
text-align: justify;
}

/* Redes
----------------------------------------------- */

.redes {
float: left;
margin-bottom: 40px;
}
.redes span {
padding-right: 10px;
}
.redes span:hover {
opacity: 0.4;
filter: alpha(opacity=40);
}

/* Media queries for Small devices (phones) */

@media only screen and (max-width: 600px) {

* {
box-sizing: border-box;
}
body {
margin: 5%;
padding: 0px;
}
img {
max-width: 100%;
height: auto;
}
main {
width: 100%;
margin: 0 auto;
padding: 0;
}
article {
width: 100%;
float: none;
margin: 0 auto;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
color: #333333;
font-size: 1em;
text-align: justify;
line-height: 2.3em;
}
aside {
width: 100%;
float: none;
margin: 0 auto;
padding: 0;
}
aside ul {
text-align: center;
margin: 0 auto;
padding: 1.5em 0;
border-top: 0;
border-bottom: 0;
list-style: none;
}
aside li {
text-align: center;
margin: 0;
padding: 0;
text-indent: 0;
}
.nav01 {
width: 100%;
margin: 0 auto;
font-family: Verdana, sans-serif;
font-size: 0.8em;
padding-top: 15px;
} 
.redes, .divcolor01 {
	visibility: hidden;
	display: none;
}
.footer01 {
width: 100%;
margin: 0 auto;
clear: both;
padding: 0;
font-family: Verdana, sans-serif;
font-size: 1em;
color: #333333;
line-height: 200%;
}
.footer01 #alignright {
float: none;
}

}

